{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

{% include 'includes/tradingview/tradingview_widget.html' %}

<div class="container container-big">
    <div class="row mt-4">
        <!-- Insight Detail Section -->       
        <div class="col-lg-8 col-12 ">
            <!-- Insight Detail Picture-->
            <div class="col-12 insight-detail-image-container mb-2">
                <div class="background-image background-image-detail" style="background-image: url('{{ insight.cover_image.url }}');"></div>
                <div class="dark-overlay"></div>
                <div class="image-detail-info">
                    <span class="mainstage-release_date pl-2 d-block pr-2">{{ insight.release_date }}</span>
                    <span class="mainstage-title pl-2 d-block bold-text ellipsis pr-2">{{ insight.title }}</span>
                    <span class="mainstage-short_description pb-2 pl-2 pt-1 d-block ellipsis pr-2">{{ insight.short_description }}</span>
                    <div class="hr d-block m-2"></div>
                    <div class="d-flex justify-content-between align-items-center pl-2 pb-2 pr-2">
                        <div class="category text-center">
                            <i class="fa-solid fa-square-poll-vertical pr-2"></i>{{ insight.category }}
                        </div>
                        <div class="read-more ellipsis">
                            Author: {{ insight.author }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar and Text Content -->
            <div class="col-12 insight-detail-container">
                <div class="row d-xl-flex flex-xl-row flex-column-reverse">
                    <!-- Left Sidebar Detail Small-->
                    <div class="col-xl-2 col-12 insight-detail-leftside mt-2">
                        <p class="cover-text-small">Similar Insights</p>
                        {% for insight in similar_insights %}
                        
                        <a href="{% url 'trade_insights_detail' slug=insight.slug %}">
                            <div class="col-12 ss-insight-img dark-overlay d-flex justify-content-end flex-column">
                                <div class="secondstage-insight d-flex justify-content-end flex-column">
                                    <div class="background-image" style="background-image: url('{{ insight.cover_image.url }}');"></div>
                                </div>                      
                                <span class="secondstage-title pl-2 d-block bold-text pr-2">{{ insight.title }}</span>
                                <div class="d-flex justify-content-between align-items-center pl-2 pb-2 pr-2">
                                    <div class="category-small text-center">
                                        <i class="fa-solid fa-square-poll-vertical pr-2"></i>{{ insight.category }}
                                    </div>
                                </div>  
                            </div>
                            </a>
                        {% endfor %}
                    </div>
                    <!-- Insight Text Content -->
                    <div class="col-xl-10 col-12 insight-detail-text mt-2">
                        {{ insight.content|safe }}
                        <!-- Call to Action Subscribing or Login -->
                        {% if not user.is_authenticated %}
                        <!-- Call to Action Text And Miniature Subscription-->
                        <div>
                            <div class="menu-element-secondary text-center p-2 mt-5 mb-5">
                                <i class="fa-solid fa-lock pr-2 text-info display-4 m-2"></i>      
                                <span class="bold-text d-block m-2">
                                    Hey there! 👋 Want the full scoop on this insight? 
                                    <a href="{% url 'account_login' %}" class="text-info">Log in</a> if you're already a member. 
                                    New around here? <a href="{% url 'account_signup' %}" class="text-info">Sign up</a> and discover the benefits of a subscription!
                                </span>                           
                                <div class="d-flex justify-content-center mt-2">
                                    <a href="{% url 'get_started' %}" class="button-62 btn-start m-2">Get Started</a>
                                </div>
                            </div>
                            <!-- Miniature Subscription -->
                            <div class="col-12 col-md-8 mx-auto mb-5">
                                <div class="subscription-plan-style p-2">
                                    <!-- SPlan Img, Title, Descr, Price -->
                                    <div class="square-image">
                                        <img src="{{ subscription_plan.image.url }}" alt="{{ subscription_plan.title }}">
                                    </div>
                                    <div class="p-1 mt-3 d-flex justify-content-start align-items-center">
                                        <h2 style="font-family: Rubik Mono One;">{{ subscription_plan.title }}</h2>
                                    </div>                       
                                    <div class="p-1 text-left text-secondary-custom sub-description">
                                        {{ subscription_plan.description }}
                                    </div>                       
                                    <div class="p-1 text-left sub-price">
                                        <h2><span><strong>$ {{ subscription_plan.price }}</strong></span><span class="pl-1"
                                                style="font-size:60%">/month</span></h2>
                                    </div>
                                    <!-- SPlan Details -->
                                    <div class="p-1 text-left sub-details">                         
                                        <div class="p-1 text-left sub-details">
                                            <p class="text-secondary-custom">This includes:</p>                               
                                            {% for detail in subscription_plan.details|split_by_comma %}
                                            <div class="d-flex d-flex justify-content-start">
                                                <div class="text-theme">
                                                    <i class="fa-solid fa-trophy pr-3"></i>
                                                </div>
                                                <div class="mb-2">
                                                    {{ detail }}
                                                </div>
                                            </div>
                                            {% endfor %}                         
                                        </div>                                                                 
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        {% elif subscribed == False %}
                            {% if user.is_authenticated %}
                            <div>
                                <!-- Call to Action Text and Miniature Subscription-->
                                <div class="menu-element-secondary text-center p-2 mt-5 mb-5">
                                    <i class="fa-solid fa-lock pr-2 text-info display-4 m-2"></i>      
                                    <span class="bold-text d-block m-2">
                                        Excited to dive deeper into this insight? 🌟 To unlock the full content and more - subscribe!
                                    </span>                           
                                    <div class="d-flex justify-content-center mt-2">
                                        <a href="{% url 'get_started' %}" class="button-62 btn-start m-2">Get Started</a>
                                    </div>
                                </div>                        
                            </div>
                            <!-- Miniature Subscription -->
                            <div class="col-12 col-md-8 mx-auto mb-5">
                                <div class="subscription-plan-style p-2">
                                    <!-- SPlan Img, Title, Descr, Price -->
                                    <div class="square-image">
                                        <img src="{{ subscription_plan.image.url }}" alt="{{ subscription_plan.title }}">
                                    </div>
                                    <div class="p-1 mt-3 d-flex justify-content-start align-items-center">
                                        <h2 style="font-family: Rubik Mono One;">{{ subscription_plan.title }}</h2>
                                    </div>                       
                                    <div class="p-1 text-left text-secondary-custom sub-description">
                                        {{ subscription_plan.description }}
                                    </div>                       
                                    <div class="p-1 text-left sub-price">
                                        <h2><span><strong>$ {{ subscription_plan.price }}</strong></span><span class="pl-1"
                                                style="font-size:60%">/month</span></h2>
                                    </div>
                                    <!-- SPlan Details -->
                                    <div class="p-1 text-left sub-details">                         
                                        <div class="p-1 text-left sub-details">
                                            <p class="text-secondary-custom">This includes:</p>                               
                                            {% for detail in subscription_plan.details|split_by_comma %}
                                            <div class="d-flex d-flex justify-content-start">
                                                <div class="text-theme">
                                                    <i class="fa-solid fa-trophy pr-3"></i>
                                                </div>
                                                <div class="mb-2">
                                                    {{ detail }}
                                                </div>
                                            </div>
                                            {% endfor %}                         
                                        </div>                                                                 
                                    </div>
                                </div>
                            </div> 
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>                     
        <!-- Sidebar -->
        <div class="col-lg-4 offset-lg-0 col-10 offset-1">
            <div class="row">
                <div id="sidebar-container" class="col-12 ml-3 pr-4 sidebar-border">
                    <div class="pl-3">
                        <p class="cover-text pb-2">Global Markets</p>
                        <div class="tv-widget-container">
                            {% include 'includes/tradingview/tradingview_globalmarket.html' %}
                        </div>
                        <div class="hr-secondary d-block mt-4 mb-3"></div>
                        <p class="pcover-text">Our Products</p> 
                        <a href="{% url 'get_started' %}" target="_blank">                      
                            {% for sp in sp %}
                                <div class="row product-container">
                                    <div class="col-5">
                                        <img src="{{ sp.image.url }}" alt="{{ sp.title }}" class="product-image">
                                    </div>
                                    <div class="col-7 d-flex flex-column justify-content-between">
                                        <div class="product-text">
                                            {{ sp.title }}<i class="fa-solid fa-money-bill-trend-up pl-3"></i>
                                        </div>
                                        <div class="product-info">
                                            More info<i class="fa-solid fa-arrow-right pl-3"></i>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </a>                      
                        <div class="hr-secondary d-block mt-4 mb-3"></div>
                        <p class="cover-text pb-2">Top Stories</p>
                        <div class="tv-widget-container">
                            {% include 'includes/tradingview/tradingview_news.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script>
    $(document).ready(function() {     
        /* Remove Sidebar for lower Screensizes */
        function adjustSidebarClasses() {
            const sidebarContainer = document.getElementById('sidebar-container');
            if (window.innerWidth >= 992) {
                sidebarContainer.classList.add('ml-3', 'pr-4', 'sidebar-border');
            } else {
                sidebarContainer.classList.remove('ml-3', 'pr-4', 'sidebar-border');
            }
        }
        adjustSidebarClasses();
        window.addEventListener('resize', adjustSidebarClasses);
    });
</script>
{% endblock %}
