{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'includes/tradingview/tradingview_widget.html' %}




<div class="container">
    <!-- Main Stage -->
    <div class="row mainstage-row">
        {% for insight in ms_insights %}
        <div class="col-12 col-md-2">
            <div class="mainstage-insight d-flex justify-content-end flex-column">
                <div class="background-image" style="background-image: url('{{ insight.cover_image.url }}');"></div>
                <div class="dark-overlay"></div>
                <div class="mainstage-detail-container">
                    <span class="mainstage-release_date pl-2 d-block pr-2">{{ insight.release_date }}</span>
                    <span class="mainstage-title pl-2 d-block bold-text ellipsis pr-2">{{ insight.title }}</span>
                    <span class="mainstage-short_description pb-2 pl-2 pt-1 d-block ellipsis pr-2">{{ insight.short_description }}</span>
                    <div class="hr d-block m-2"></div>
                    <div class="d-flex justify-content-between align-items-center pl-2 pb-2 pr-2">
                        <div class="category text-center">
                            <i class="fa-solid fa-square-poll-vertical pr-2"></i>{{ insight.category }}
                        </div>
                        <div class="read-more ellipsis">
                            read more<i class="fa-brands fa-readme pl-2"></i>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Insight Feed -->
    <div class="row secondstage-row pt-2">

        <div class="col-4 secondstage-left">               
            {% for insight in ss_insights %}          
                {% if not forloop.counter|divisibleby:2 %}
                    {% if insight.display == 'IMG' %}
                    <div class="col-12 ss-insight-img dark-overlay d-flex justify-content-end flex-column">
                        <div class="secondstage-insight d-flex justify-content-end flex-column">
                            <div class="background-image" style="background-image: url('{{ insight.cover_image.url }}');"></div>
                        </div>                      
                        <span class="secondstage-release_date pl-2 d-block pr-2">{{ insight.release_date }}</span>
                        <span class="secondstage-title pl-2 d-block bold-text pr-2">{{ insight.title }}</span>
                        <span class="secondstage-short_description pb-2 pl-2 pt-1 pr-2">{{ insight.short_description }}</span>
                        <div class="read-more pl-2 pb-2">
                            read more<i class="fa-brands fa-readme pl-2"></i>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 ss-insight-txt dark-overlay d-flex justify-content-end flex-column">                    
                        <span class="secondstage-release_date pl-2 d-block pr-2">{{ insight.release_date }}</span>
                        <span class="secondstage-title pl-2 d-block bold-text pr-2">{{ insight.title }}</span>
                        <span class="secondstage-short_description pb-2 pl-2 pt-1 pr-2">{{ insight.short_description }}</span>
                        <div class="read-more pl-2 pb-2">
                            read more<i class="fa-brands fa-readme pl-2"></i>
                        </div>
                        <div class="hr d-block m-2"></div>
                        <div class="category-ss text-center">
                            <i class="fa-solid fa-square-poll-vertical pr-2"></i>{{ insight.category }}
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}         
        </div>

        <div class="col-4 secondstage-right">
            {% for insight in ss_insights %}          
            {% if forloop.counter|divisibleby:2 %}
                {% if insight.display == 'IMG' %}
                <div class="col-12 ss-insight-img dark-overlay d-flex justify-content-end flex-column">
                    <div class="secondstage-insight d-flex justify-content-end flex-column">
                        <div class="background-image" style="background-image: url('{{ insight.cover_image.url }}');"></div>
                    </div>                      
                    <span class="secondstage-release_date pl-2 d-block pr-2">{{ insight.release_date }}</span>
                    <span class="secondstage-title pl-2 d-block bold-text pr-2">{{ insight.title }}</span>
                    <span class="secondstage-short_description pb-2 pl-2 pt-1 pr-2">{{ insight.short_description }}</span>
                    <div class="read-more pl-2 pb-2">
                        read more<i class="fa-brands fa-readme pl-2"></i>
                    </div>
                </div>
                {% else %}
                <div class="col-12 ss-insight-txt dark-overlay d-flex justify-content-end flex-column">                    
                    <span class="secondstage-release_date pl-2 d-block pr-2">{{ insight.release_date }}</span>
                    <span class="secondstage-title pl-2 d-block bold-text pr-2">{{ insight.title }}</span>
                    <span class="secondstage-short_description pb-2 pl-2 pt-1 pr-2">{{ insight.short_description }}</span>
                    <div class="read-more pl-2 pb-2">
                        read more<i class="fa-brands fa-readme pl-2"></i>
                    </div>
                    <div class="hr d-block m-2"></div>
                    <div class="category-ss text-center">
                        <i class="fa-solid fa-square-poll-vertical pr-2"></i>{{ insight.category }}
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}  
        </div>

        <div class="col-4">
            <div class="row">
                <div class="col-12 ml-3 pr-4 sidebar-border">
                    <!--<div class="tv-widget-container">
                        <p class="cover-text">Facebook</p>
                        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61555685786785&amp;locale=de_DE" data-tabs="timeline" data-width="100" data-height="" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
                            <blockquote cite="https://www.facebook.com/profile.php?id=61555685786785&amp;locale=de_DE" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/profile.php?id=61555685786785&amp;locale=de_DE">MarketMinds Analytics</a>
                            </blockquote>
                        </div>                  
                    </div>
                    <div class="hr d-block m-2"></div>-->
                    <div class="pl-3">


                        <p class="cover-text pb-2">Global Market</p>
                        <div class="tv-widget-container">
                            {% include 'includes/tradingview/tradingview_globalmarket.html' %}
                        </div>
                        <div class="hr d-block mt-4 mb-3"></div>
                        <p class="pcover-text pb-1">Products</p>
                        <div class="products-container">

                        </div>
                        <div class="hr d-block mt-4 mb-3"></div>
                        <p class="cover-text pb-2">Top Stories</p>
                        <div class="tv-widget-container">
                            {% include 'includes/tradingview/tradingview_news.html' %}
                        </div>
                    </div>
                    <!--<div class="hr d-block mt-4 mb-3"></div>-->
                </div>
            </div>
        </div>
</div>
    
</div>
{% endblock %}


{% block postloadjs %}
<script>
    $(document).ready(function() {
        $('.mainstage-row > .col-md-2:first').removeClass('col-md-2').addClass('col-md-6');
        $('.mainstage-row').on('mouseenter', '> .col-md-2, > .col-md-6', function() {
            $(this).siblings().removeClass('col-md-6').addClass('col-md-2');
            $(this).removeClass('col-md-2').addClass('col-md-6');
        });
    });

    $('.secondstage-short_description').hide();

    $(document).ready(function() {
    // Standardmäßig ausblenden
    $('.secondstage-short_description').hide();

    $('.ss-insight-img').hover(
        function() {
            $(this).find('.secondstage-short_description').show(800); // Kürzere Dauer
        }, function() {
            $(this).find('.secondstage-short_description').hide(800); // Kürzere Dauer
        }
    );
});
</script>
{% endblock %}