{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'includes/tradingview/tradingview_widget.html' %}


<div class="container">
    <div class="row mainstage-row">
        {% for insight in insights %}
        <div class="col-12 col-md-2">
            <div class="mainstage-insight d-flex justify-content-end flex-column">
                <div class="background-image" style="background-image: url('{{ insight.cover_image.url }}');"></div>
                <div class="dark-overlay"></div>
                <div class="mainstage-detail-container">
                    <span class="mainstage-release_date pl-2 d-block pr-2">{{ insight.release_date }}</span>
                    <span class="mainstage-title pl-2 d-block bold-text ellipsis pr-2">{{ insight.title }}</span>
                    <span class="mainstage-short_description pb-2 pl-2 d-block ellipsis pr-2">{{ insight.short_description }}</span>
                    <div class="hr d-block m-2"></div>
                    <div class="d-flex justify-content-between align-items-center pl-2 pb-2 pr-2">
                        <div class="category text-center">
                            <i class="fa-solid fa-square-poll-vertical pr-2"></i>{{ insight.category }}
                        </div>
                        <div class="read-more ellipsis">
                            read more<i class="fa-brands fa-readme pl-2"></i>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


{% block postloadjs %}
<script>
    $(document).ready(function() {
        // Tausche beim Laden der Seite die Klasse des ersten col-2 Elements
        $('.mainstage-row > .col-md-2:first').removeClass('col-md-2').addClass('col-md-6');

        // Tausche die Klasse bei Hover über ein col-2 oder col-6 Element, das ein direktes Kind von .mainstage-row ist
        $('.mainstage-row').on('mouseenter', '> .col-md-2, > .col-md-6', function() {
            // Setze alle Geschwister auf col-2 zurück
            $(this).siblings().removeClass('col-md-6').addClass('col-md-2');
            // Tausche die Klasse des gehoverten Elements
            $(this).removeClass('col-md-2').addClass('col-md-6');
        });
    });


</script>
{% endblock %}