{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container text-center pt-5 mt-5">
    <i class="fa-solid fa-person-digging display-1 mt-5"></i>
    <h5 class="mt-5 mb-3" style="font-family: Rubik Mono One">Welcome to our Trade Insights page! 🚀 We're currently under construction, so fasten your seatbelt and get ready for a wild ride! 💹✨ #UnderConstruction</h5>
    <button class="button-62 btn-edit pl-4 pr-4 mt-5">
        <a href="/"><i class="fa-solid fa-backward-step mr-2"></i>Go back to Homepage</a>
    </button>
</div>
{% endblock %}


{% block postloadjs %}

{% endblock %}