{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1>Your Shopping Bag</h1>
    <div class="row mt-4">
        <div class="container">
            <div class="row">
                <div class="col-3">Product Info</div>
                <div class="col-3"></div>
                <div class="col-3">Price</div>
                <div class="col-3">Total</div>
            </div>
            {% for item_id in bag_items %}
                {% for subscription_plan in subscription_plans %}
                    {% if subscription_plan.id == item_id|add:0 %}
                    <div class="row">
                        <div class="col-3 square-image">
                            <img src="{{ subscription_plan.image.url }}" alt="{{ s.title }}">
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <h3>{{ subscription_plan.title }}</h3>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <p>{{ subscription_plan.price }}</p>
                        </div>
                    </div>                    
                    {% endif %}
                {% endfor %}
            {% endfor %}  
            <div class="offset-9 col-3">
                <p>{{ total }}</p>
            </div>
            <div class="row">
                <div class="col-8 offset-4 col-md-5 offset-md-7">
                    <div class="pb-3">
                        <a href="{% url 'checkout' %}">
                            <button type="submit" class="button-62 btn-bag"><i class="fa-solid fa-lock pr-1"></i> Secure Checkout</button>
                        </a>
                    </div>
                    <div class="pb-3">
                        <a href="{% url 'get_started' %}">
                            <button type="submit" class="button-62 btn-bag"><i class="fas fa-chevron-left pr-1"></i> Keep Exploring</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
