{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1>Your Shopping Bag</h1>
    <div class="row mt-4">
        <div class="container">
            <div class="row">
                <div class="col-3">Product Info</div>
                <div class="col-3"></div>
                <div class="col-3">Price</div>
                <div class="col-3">Total</div>
            </div>
            {% for item_id in bag_items %}
                {% for subscription_plan in subscription_plans %}
                    {% if subscription_plan.id == item_id|add:0 %}
                    <div class="row">
                            <div class="bag-image-container square-image col-3">
                                <img src="{{ subscription_plan.image.url }}" alt="{{ s.title }}">
                            </div>
                            <div class="col-3">
                                <h3>{{ subscription_plan.title }}</h3>
                            </div>
                            <div class="col-3">
                                <p>{{ subscription_plan.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}  
            <div class="offset-9 col-3">
                <p>{{ total }}</p>
            </div>
        </div>
</div>
{% endblock %}
