{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Landing Image -->
<div class="container-fluid-img">
    <div class="landing-img d-flex flex-column justify-content-center">
        <div class="container" style="height:200px;margin-top: -60px;padding-left:20px">
            <h2 class="d-block mt-auto mb-auto"><strong class="contrast-grey">Your ticket to</strong></h2>
            <h2 class="d-block mt-auto mb-auto" style="padding:1rem 2rem 0.5rem">Profitable<strong class="theme-color"> Trades</strong></h2>
            <h2 class="d-block mt-auto mb-auto" style="padding:0.5rem 2rem">Market<strong class="theme-color"> Insights</strong></h2>
            <h2 class="d-block mt-auto mb-auto" style="padding:0.5rem 2rem 1.5rem">Garantued<strong class="theme-color"> Success</strong></h2> 
            <div class="col-12">
            <a href="{% url 'get_started' %}" class="button-62 btn-start">Get Started</a>
            </div>
        </div>   
    </div>
</div>

<!-- Expertise Section -->
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-10 col-md-4 offset-1 service-img align-self-stretch"></div>

        <div class="col-10 col-md-6 offset-1 offset-md-0 container-2">

            <div class="top">
                <h1 class="text-secondary">Our Services</h1>
            </div>

            <div class="middle">
                <h2 class="display-4 mb-4 h2-exp">Your Partner for <strong>Profitable Trading</strong></h2>
            </div>

            <div class="bottom">
                <h3 class="text-secondary h3-exp">
                    Navigate the dynamic <strong class="text-white">crypto</strong> landscape, seize opportunities in the <strong class="text-white">stock market</strong>,
                    and conquer the intricate <strong class="text-white">forex</strong> terrain. Our <strong class="text-white">expert analysis</strong> ensures your trades are powered by informed decisions. Join us to transform market insights into <strong class="text-white">profitable trades</strong> across diverse assets.
                </h3>
            </div>
          </div>
          
    </div>
</div>

<!-- Credentials Section -->
<div class="container-fluid">
    <div class="row cred-div">
        <div class="col-10 col-md-2 offset-1 text-center">
            <h2 class="font-weight-bold">98%</h2>
            <h5 class="text-secondary">Satisfied Clients</h5>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">8+</h2>
            <h5 class="text-secondary">Years Of Experience</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">1880+</h2>
            <h5 class="text-secondary">Traders using Tradalyse</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">17%</h2>
            <h5 class="text-secondary">Average R.O.I</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">5300+</h2>
            <h5 class="text-secondary">Successful Trades</h3>
        </div>
    </div>
</div>

<!-- FB Mailchimp Section -->
<section class="fb-mailchimp">
    <div id="mc_embed_shell">
        



    <div id="mc_embed_signup">
    <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=95b2e7664b9f5e1479faf3d3e&amp;id=f84a039936&amp;f_id=0085e5e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group"><label for="mce-EMAIL">E-Mail-Adresse <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_95b2e7664b9f5e1479faf3d3e_f84a039936" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button-62 btn-edit btn-mailchimp" value="Subscribe">
                <p style="margin: 0px auto;">
                    <a href="http://eepurl.com/iHKi12" title="Mailchimp - email marketing made easy and fun">
                        <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                            <img class="refferal_badge" src="https://res.cloudinary.com/dbui0ebjv/image/upload/v1704974903/mailchimp_white_h37dnw.png" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
</section>
{% endblock %}