{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Mailchimp -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<!-- Landing Image -->
<div class="hero-container text-center">

            <h1 class="d-block slide-from-left landing-text-1 p-2 display-3"><strong class="text-secondary-custom animated-text">Your
                    ticket
                    to</strong></h1>
            <div class="container d-flex justify-content-center">
                <div>
                <h2 class="d-block slide-from-right landing-text-2 p-2">Profitable<strong
                        class="theme-color"> Trades</strong></h2>
                <h2 class="d-block slide-from-right landing-text-2 p-2">Market<strong
                        class="theme-color"> Insights</strong></h2>
                <h2 class="d-block slide-from-right landing-text-2 p-2">Garantued<strong
                        class="theme-color"> Success</strong></h2>
                </div>
            </div>
            <div class="text-center p-2 pb-5">
                <a href="{% url 'get_started' %}" class="button-62 btn-start slide-from-left">Get Started</a>
            </div>

            <a href="#">
            <div class="arrow-container">
                <div class="arrow" id="arrow1"></div>
                <div class="arrow" id="arrow2"></div>
                <div class="arrow" id="arrow3"></div>
            </div>
            </a>
</div>

<!-- Expertise Section -->
<div class="container-fluid mb-5" id="expertise">
    <div class="row">
        <div class="col-10 col-md-4 offset-1 service-img align-self-stretch"
            aria-label="Service Image Markets Analysis"></div>
        <div class="col-10 col-md-6 offset-1 offset-md-0 container-2">
            <div class="top">
                <h1 class="text-secondary-custom display-4">Our Services</h1>
            </div>
            <div class="middle">
                <h2 class="display-4 mb-4 h2-exp">Your Partner for <strong>Profitable Trading</strong></h2>
            </div>
            <div class="bottom">
                <h3 class="text-secondary-custom h3-exp">
                    Navigate the dynamic <strong class="text-white">crypto</strong> landscape, seize opportunities in
                    the <strong class="text-white">stock market</strong>,
                    and conquer the intricate <strong class="text-white">forex</strong> terrain. Our <strong
                        class="text-white">expert analysis</strong> ensures your trades are powered by informed
                    decisions. Join us to transform market insights into <strong class="text-white">profitable
                        trades</strong> across diverse assets.
                </h3>
            </div>
        </div>
    </div>
</div>

<!-- Credentials Section -->
<div class="container-fluid">
    <div class="row cred-div">
        <div class="col-10 col-md-2 offset-1 text-center">
            <h2 class="font-weight-bold">98%</h2>
            <h3 class="text-secondary-custom">Satisfied Clients</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">8+</h2>
            <h3 class="text-secondary-custom">Years Of Experience</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">1880+</h2>
            <h3 class="text-secondary-custom">Traders using Tradalyse</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">17%</h2>
            <h3 class="text-secondary-custom">Average R.O.I</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1 text-center">
            <h2 class="font-weight-bold">5300+</h2>
            <h3 class="text-secondary-custom">Successful Trades</h3>
        </div>
    </div>
</div>

<!-- FB Mailchimp Section -->
<section class="fb-mailchimp container-fluid bg-color-secondary">
    <div class="container">
        <h1 class="text-center"><strong>Stay in Touch</strong></h1>
        <div class="white-line-small mx-auto mb-4"></div>
        <div class="row p-3">

            <div class="fb col-12 col-md-6 pl-md-3 pb-5 pb-md-0">
                <h2 class=""><strong>Social</strong></h2>
                <p class="text-secondary-custom">Keep up to date with all our latest offers</p>
                <div class="">
                    <a href="https://www.facebook.com/profile.php?id=61555685786785" target="_blank" rel="noopener"
                        aria-label="Facebook Link">
                        <i class="fa-brands fa-square-facebook display-4 p-2 text-white"></i>
                    </a>
                    <a href="#" rel="noopener" aria-label="X Twitter Link">
                        <i class="fa-brands fa-square-x-twitter display-4  p-2 text-white"></i>
                    </a>
                    <a href="#" rel="noopener" aria-label="Instagram Link">
                        <i class="fa-brands fa-square-instagram display-4  p-2  text-white"></i>
                    </a>
                    <a href="#" rel="noopener" aria-label="Youtube link">
                        <i class="fa-brands fa-square-youtube display-4 p-2 text-white"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 pl-md-3" id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <form class="bg-color-secondary"
                        action="https://herokuapp.us21.list-manage.com/subscribe/post?u=95b2e7664b9f5e1479faf3d3e&amp;id=f84a039936&amp;f_id=0085e5e6f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <h2><strong>Subscribe!</strong></h2>
                            <div class="indicates-required">
                                <span class="asterisk">*</span> indicates required
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">E-Mail-Adresse <span class="asterisk">*</span></label><input
                                    type="email" name="EMAIL" class="required email" id="mce-EMAIL" required=""
                                    value="">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;">
                                </div>
                                <div class="response" id="mce-success-response" style="display: none;">
                                </div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_95b2e7664b9f5e1479faf3d3e_f84a039936" tabindex="-1" value="">
                            </div>
                            <div class="custom-button-container text-center mt-3 row">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <button class="button-62 btn-edit btn-mailchimp"
                                        style="color: #0d1b2a;">Subscribe</button>
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <span class="text-secondary-custom">Powered by</span><i
                                        class="fa-brands fa-mailchimp pl-2 display-4"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
<!-- Mailchimp -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}