{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Landing Image -->
<div class="container-fluid-img">
    <div class="landing-img container-fluid d-flex flex-column justify-content-center">
        <div class="container" style="height:200px">
            <h2 class="d-block mt-auto mb-auto"><strong class="contrast-grey">Your ticket to</strong></h2>
            <h2 class="d-block mt-auto mb-auto" style="padding:1rem 2rem 0.5rem">Profitable<strong class="theme-color"> Trades</strong></h2>
            <h2 class="d-block mt-auto mb-auto" style="padding:0.5rem 2rem">Market<strong class="theme-color"> Insights</strong></h2>
            <h2 class="d-block mt-auto mb-auto" style="padding:0.5rem 2rem">Garantued<strong class="theme-color"> Success</strong></h2> 
        </div>   
    </div>
</div>

<!-- Expertise Section -->
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-10 col-md-4 offset-1 service-img"></div>
        <div class="col-10 col-md-6 service-text d-flex align-items-center justify-content-center">
            <div>
                <h1 class="text-secondary">Our Services</h1>
                <h2 class="display-4">Your Partner for <strong>Profitable Trading</strong></h2>
                <h3 class="text-secondary">Navigate the dynamic <strong class="text-white">crypto</strong> landscape, seize opportunities in the <strong class="text-white">stock market</strong>,
                    and conquer the intricate <strong class="text-white">forex</strong> terrain.
                    Our <strong class="text-white">expert analysis</strong> ensures your trades are powered by informed decisions.
                    Join us to transform market insights into <strong class="text-white">profitable trades</strong> across diverse assets.
                </h3>
            </div>
        </div>
    </div>
</div>

<!-- Credentials Section -->
<div class="container-fluid">
    <div class="row cred-div">
        <div class="col-10 col-md-2 offset-1">
            <h2 class="font-weight-bold">98%</h2>
            <h5 class="text-secondary">Satisfied Clients</h5>
        </div>
        <div class="col-10 col-md-2 offset-768-1">
            <h2 class="font-weight-bold">8+</h2>
            <h5 class="text-secondary">Years Of Experience</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1">
            <h2 class="font-weight-bold">1880+</h2>
            <h5 class="text-secondary">Traders using Tradalyse</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1">
            <h2 class="font-weight-bold">17%</h2>
            <h5 class="text-secondary">Average R.O.I</h3>
        </div>
        <div class="col-10 col-md-2 offset-768-1">
            <h2 class="font-weight-bold">5300+</h2>
            <h5 class="text-secondary">Successful Trades</h3>
        </div>
    </div>
</div>

<!-- Subscription Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2>Our Plans</h2>
            <hr>
        </div>
    </div>
</div>

<!-- Link -->
{% include 'subscription/subscription_plan.html' %}

{% endblock %}