{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container responsive-space">
    <div class="col-12 offset-md-2 col-md-8">
        <h2 class="logo-font m-3 text-center p-5">Profile Information</h2>
        <div class="col-12 menu-element">
            {% load crispy_forms_tags %}
            <form method="POST" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center pt-4">
                    
                    <button type="submit" class="button-62 btn-edit mx-auto mb-2 d-block" aria-label="Save"><i
                        class="fa-solid fa-download pr-2"></i>Save </button>
                    <a href="{% url 'view_profile' %}" class="mx-auto d-block" aria-label="Return">
                        <span class="button-62 btn-edit">
                            <i class="fa-solid fa-arrow-left pr-2"></i> Return
                        </span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% endblock %}