{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container responsive-space menu-element">
    <div class="row">

        <!-- Profile Data -->
        <div class="col-12">
            <h1 class="mb-3"><i class="fa-solid fa-user pr-2"></i>Profile Information</h1>
            <!-- Profile Data -->
            <div class="mb-4">
                <dl>
                    <div class="menu-element-third m-2">
                        <dt>Username:</dt>
                        <dd class="text-secondary-custom">{{ user.username }}</dd>
                    </div>
                    <div class="menu-element-third m-2">
                        <dt>Email:</dt>
                        <dd class="text-secondary-custom">{{ user_profile.email }}</dd>
                    </div>
                </dl>
                    <div class="text-center">
                        <a href="{% url 'edit_profile' %}" class="button-62 btn-edit mt-2" style="color:inherit; text-decoration: none;" aria-label="Edit Profile">
                                <i class="fa-solid fa-pen-to-square pr-2"></i>
                                Edit Profile                           
                        </a>
                    </div>
                
            </div>
        </div>

        <!-- Active Subscriptions -->
        <div class="col-12">
            <h1><i class="fa-brands fa-creative-commons-sampling pr-2"></i>Active Subscriptions</h1>
            <!-- Active Subscription Elements -->
            {% for subscription in active_subscriptions %}
            <div class="row mb-4">
                <div class="col-12">
                    <div class="menu-element-third m-2">
                        <!-- Background Image Div -->
                        <div class="background-image" 
                            style="background-image: url('{{ subscription.subscription_plan.image.url }}');
                                   background-size: cover;
                                   background-position: center;
                                   height: 200px;
                                   width: 100%;
                                   border-radius: 3px;
                                   margin-top: 3px;
                                   margin-bottom: 3px;">
                        </div>
                        <div class="subscription-details">
                            <div class="title" style="font-family: Rubik Mono One; font-size: 130%;">
                                {{ subscription.subscription_plan.title }}
                            </div>
                            <div class="subscription-info">
                                <div class="info-item menu-element-fourth m-sm-2 mb-1">
                                    <span class="info-label">Stripe Subscription ID:</span>
                                    <span class="info-value text-secondary-custom text-wrap">
                                        {{ subscription.stripe_subscription_id }}
                                    </span>
                                </div>
                                <div class="info-item menu-element-fourth m-sm-2 mb-1">
                                    <span class="info-label">Start Date:</span>
                                    <span class="info-value text-secondary-custom">
                                        {{ subscription.start_date }}
                                    </span>
                                </div>
                                {% if subscription.renewal_date %}
                                    <!-- Renewal Date -->
                                    <div class="info-item menu-element-fourth m-sm-2 mb-1">
                                        <span class="info-label">Renewal Date:</span>
                                        <span class="info-value text-success">
                                            {{ subscription.renewal_date }}
                                        </span>
                                    </div>
                                    <!-- Status Active Green -->
                                    <div class="d-flex justify-content-between align-items-center status menu-element-fourth m-sm-2 mb-1">
                                        <div class="info-item">
                                            <span class="info-label">Status:</span>
                                            <span class="info-value text-success">{{ subscription.status }}</span>
                                        </div>
                                        <div class="toggle-icon">
                                            <button class="icon-trigger" data-toggle="modal"
                                                    data-target=".cancelSubscriptionModal" 
                                                    data-subscription-id="{{ subscription.id }}"
                                                    aria-label="Toggle Subscription">
                                                <i class="fa-solid fa-toggle-on text-success display-4"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% else %}
                                    <!-- Current Period End -->
                                    <div class="info-item menu-element-fourth m-sm-2 mb-1">
                                        <span class="info-label">Current Period End:</span>
                                        <span class="info-value text-info">
                                            {{ subscription.current_period_end }}
                                        </span>
                                    </div>
                                    <!-- Status Pending Cancel Blue -->
                                    <div class="d-flex justify-content-between align-items-center status menu-element-fourth m-sm-2 mb-1">
                                        <div class="info-item">
                                            <span class="info-label">Status:</span>
                                            <span class="info-value text-info">{{ subscription.status }}</span>
                                        </div>
                                        <div class="toggle-icon">
                                            <button class="icon-renew-trigger" data-toggle="modal"
                                                    data-target=".renewSubscriptionModal" 
                                                    data-subscription-id="{{ subscription.id }}"
                                                    aria-label="Renew Subscription">
                                                <i class="fa-solid fa-toggle-off text-info display-4"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Unsubscribe Confirmation Modal -->
    <div class="modal fade cancelSubscriptionModal" tabindex="-1" role="dialog"
        aria-labelledby="cancelSubscriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelSubscriptionModalLabel">Cancel Subscription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to cancel your subscription?</p>
                </div>
                <div class="modal-footer">
                    <form class="confirmCancleForm" action="" method="post">
                        {% csrf_token %}
                        <div class="container">
                            <button type="button" class="button-62 btn-edit" id="closeDeleteBtn" data-dismiss="modal"
                                aria-label="Close">Close</button>
                            <button type="submit" class="button-62 btn-delete mt-2" id="confirmDeleteBtn"
                                aria-label="Unsubscribe">Yes,
                                unsubscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Renew Subscription Confirmation Modal -->
    <div class="modal fade renewSubscriptionModal" tabindex="-1" role="dialog"
        aria-labelledby="renewSubscriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="renewSubscriptionModalLabel">Renew Subscription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to renew your subscription?</p>
                </div>
                <div class="modal-footer">
                    <form class="confirmRenewForm" action="" method="post">
                        {% csrf_token %}
                        <button type="button" class="button-62 btn-edit" data-dismiss="modal" aria-label="Close">Close</button>
                        <button type="submit" class="button-62 btn-delete" aria-label="Renew">Yes, renew</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}