{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container responsive-space menu-element">
    <div class="row">
        <div class="col-12">
            <h1>Profile Information</h1>
            <!-- Profile Data -->
            <div class="mb-4">
                <dl>
                    <div class="menu-element-third m-2">
                        <dt>Username:</dt>
                        <dd class="text-secondary-custom">{{ user.username }}</dd>
                    </div>
                    <div class="menu-element-third m-2">
                        <dt>Email:</dt>
                        <dd class="text-secondary-custom">{{ user_profile.email }}</dd>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'edit_profile' %}" style="color:inherit; text-decoration: none;" aria-label="Edit Profile">
                            <button class="button-62 btn-edit mt-2" aria-label="Edit Profile">
                                <i class="fa-solid fa-pen-to-square pr-2"></i>
                                Edit Profile Information
                            </button>
                        </a>
                    </div>
                </dl>
            </div>
        </div>

        <div class="col-12">
            <h1>Active Subscriptions</h1>
            {% for subscription in active_subscriptions %}
            <div class="row mb-3">
                <div class="col-12">
                    <div class="menu-element-third m-2">
                        <!-- Background Image Div -->
                        <div class="background-image" 
                            style="background-image: url('{{ subscription.subscription_plan.image.url }}');
                                   background-size: cover;
                                   background-position: center;
                                   height: 200px;
                                   width: 100%;
                                   border-radius: 3px;
                                   margin-top: 3px;
                                   margin-bottom: 3px;">
                        </div>
                        <dl>
                            <div class="pt-3 pl-2 pr-2" style="font-family: Rubik Mono One; font-size: 120%;">{{ subscription.subscription_plan.title }}</div>
                            <div class="pt-2 pl-4 pr-4">
                                <div class="menu-element-fourth m-2">
                                    <dt>Stripe Subscription ID:</dt>
                                    <dd class="text-secondary-custom text-wrap">{{ subscription.stripe_subscription_id }}</dd>
                                </div>
                                <div class="menu-element-fourth m-2">
                                    <dt>Start Date:</dt>
                                    <dd class="text-secondary-custom">{{ subscription.start_date }}</dd>
                                </div>
                                {% if subscription.renewal_date %}
                                <div class="menu-element-fourth m-2">
                                    <dt>Renewal Date:</dt>
                                    <dd class="text-secondary-custom">{{ subscription.renewal_date }}</dd>
                                </div>
                                {% endif %}
                                {% if subscription.canceled_at %}
                                <div class="menu-element-fourth m-2">
                                    <dt>Current Period End:</dt>
                                    <dd class="text-secondary-custom">{{ subscription.current_period_end }}</dd>
                                </div>
                                <div class="menu-element-fourth m-2 d-flex justify-content-between">
                                    <div class="">
                                        <dt>Status</dt>
                                        <dd class="text-info">{{ subscription.status }}</dd>
                                    </div>
                                    <div class="display-200">
                                        <button class="icon-trigger-activate" data-toggle="modal"
                                        data-target=".cancelSubscriptionModal" data-subscription-id="{{ subscription.id }}"
                                        aria-label="Toggle Subscription">
                                        <i class="fa-solid fa-toggle-off text-info"></i>
                                        </button>
                                    </div>
                                </div>
                                {% else %}
                                <div class="menu-element-fourth m-2 d-flex justify-content-between">
                                    <div class="">
                                        <dt>Status</dt>
                                        <dd class="text-success">{{ subscription.status }}</dd>
                                    </div>
                                    <div class="display-200">
                                        <button class="icon-trigger" data-toggle="modal"
                                        data-target=".cancelSubscriptionModal" data-subscription-id="{{ subscription.id }}"
                                        aria-label="Toggle Subscription">
                                            <i class="fa-solid fa-toggle-on text-success"></i>
                                        </button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Unsubscribe Confirmation Modal -->
    <div class="modal fade cancelSubscriptionModal" tabindex="-1" role="dialog"
        aria-labelledby="cancelSubscriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelSubscriptionModalLabel">Cancel Subscription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to cancel your subscription?</p>
                </div>
                <div class="modal-footer">
                    <form class="confirmCancleForm" action="" method="post">
                        {% csrf_token %}
                        <div class="container">
                            <button type="button" class="button-62 btn-edit" id="closeDeleteBtn" data-dismiss="modal"
                                aria-label="Close">Close</button>
                            <button type="submit" class="button-62 btn-delete mt-2" id="confirmDeleteBtn"
                                aria-label="Unsubscribe">Yes,
                                unsubscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}