{% extends 'base.html' %}
{% block content %}
<div class="container pt-5 mt-5 text-center">
    <i class="fa-solid fa-user-check display-2 pt-5 pb-5 mt-2"></i>
    <h5 class="pb-5" style="font-family: Rubik Mono One;">Thanks for subscribing with us! If you navigate to you <a href="{% url 'view_profile' %}" class="text-info">Profile Info</a> you can review your Active Subscriptions</h5>
    <button class="button-62 btn-edit pl-4 pr-4 mt-2">
        <a href="{% url 'home' %}"><i class="fa-solid fa-backward-step mr-2"></i>Go back to Homepage</a>
    </button>
</div>
{% endblock %}