@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik+Mono+One&display=swap');

body {
 background-color:  #030303; 
 color: white;
 font-family: 'Lato', sans-serif;
}
.inherit-color {
    color: inherit !important;
  }
a:hover {
text-decoration: none; 
}
.nav-element {
    font-size: 110%;
}
.logo-p {
    margin-bottom: 0px;
    color: #2DEDFA;
}
.nav-p {
    color: #CCCCCC;
    margin-bottom: -5px;
}
.theme-color {
    color: #db9e02;
}
.contrast-grey {
    color: #adb5bd;
}
.landing-img {
    width: 100%;
    height: 400px; 
    background-image: url('https://res.cloudinary.com/dbui0ebjv/image/upload/v1703678174/AdobeStock_230617255_gmfqlb.jpg');
    background-size: cover; 
    background-position: center center; 
}
.service-img {
    width: 100%;
    height: 700px; 
    background-image: url('https://res.cloudinary.com/dbui0ebjv/image/upload/v1703700081/Unbenannt_16_ciqry8.png');
    background-size: cover; 
    background-position: center center; 
}
.contact-img {
    width: 100%;
    height: 400px; 
    background-image: url('https://res.cloudinary.com/dbui0ebjv/image/upload/v1703845968/Design_ohne_Titel_1_fhxhsr.png');
    background-size: cover; 
    background-position: center center; 
}
.container-fluid-img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
}
.service-text {
    padding-left: 6%;
}
.cred-div {
    margin-bottom: 70px;
}
.contact-sec {
    height: 300px;
    margin-bottom: 85px;
}
/* Custom Button */
.btn-start {
    padding: 0px 70px 0px 70px;
}
.button-62 {
  background: linear-gradient(to bottom right, #adb5bd, #db9e02);
  border: 0;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(218, 165, 32, 0.5), -.125rem -.125rem 1rem rgba(218, 165, 32, 0.5), .125rem .125rem 1rem rgba(218, 165, 32, 0.5);
}
.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(218, 165, 32, 0.5), -.125rem -.125rem 1rem rgba(218, 165, 32, 0.5), .125rem .125rem 1rem rgba(218, 165, 32, 0.5);
}
.white-line {
    height: 2px; 
    background-color: white; 
    width: 100%; 
}
/* Custom Container */
.container-2 {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 20px 0px 20px 150px
  }
  
  .top, .middle, .bottom {
    width: 100%; 
    text-align: center; 
  }
  
  .top {
    align-self: flex-start;
  }
  
  .middle {
    align-self: center;
  }
  
  .bottom {
    align-self: flex-end;
  }
  
  .container-2 > * {
    margin: 10px 0; 
  }
/* Subscription Plans */
.square-image {
    width: 200px;
    height: 120px;
    overflow: hidden;
}
.square-image img {
    width: 100%;
    height: 120px;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 150%;
    }
    .service-text {
        padding: 4% 8%;
    }
    .service-img {
        height: 550px;
    }
    .cred-div {
        text-align: center;
        margin-top: -30px;
    }
    .offset-768-1 {
        margin-left: 8.333333%;
    }
    .container-2 {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        padding: 50px 0 50px 0;
      }
    .h2-exp {
        font-size: 300%;
    }
    .h3-exp {
        font-size: 170%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1056px) {
    .h2-exp {
        font-size: 200%;
    }
    .h3-exp {
        font-size: 140%;
    }
}
