@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-from-left {
    animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-from-right {
    animation: slideInFromRight 1s ease-out;
}

@keyframes bounceIn {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}

.bounce-in {
    animation: bounceIn 1s ease-out;
}


/* General */
body {
    background-color: #000814;
    color: white;
    font-family: 'Lato', sans-serif;
}
.logo-1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 160%;
    position: absolute;
    top: 0px;
    color: #00b4d8;
}
.logo-2 {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 140%;
    position: absolute;
    top: 25px;
    left: 125px;
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.text-secondary-custom {
    color: #8d99ae;
}

.inherit-color {
    color: inherit !important;
}

.nav-element {
    font-size: 110%;
}

.nav-link {
    padding: 1rem;
}

a {
    color: whitesmoke!important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.badge {
    position: absolute;
    bottom: -3px;
    background-color: #ff4500;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px 5px;
    left: 15px;
    animation: pulse 1s infinite;
}
dd {
    margin-left: 0;
    margin-bottom: 0!important;
}
.nav-p {
    color: #fff;
    margin-bottom: -5px;
    transition: color 0.2s ease-in-out;
}

.nav-p:hover {
    color: #00b4d8;
}

.nav-fa {
    font-size: 160%
}

.theme-color {
    color: #00b4d8;
}
.text-theme {
    color: #00b4d8;
}

.bg-color-secondary {
    background-color: #0d1b2a;
}

.contrast-grey {
    color: #adb5bd;
}
.orange-line {
    background: #fca311;
    height: 2px;
    margin: 10px;
}
/* Checkout */
.already-subscribed a {
    color: blue!important;
}
.container-bag-checkout {
    margin-top: 140px;
}
button a {
    color: inherit!important;
}
button a:hover {
    color: whitesmoke!important;
}
.bag-titles {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 130%;
}

/* Dropdown Profile */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    right: 120px;
    top: 50px;
    border-radius: 3px;
    position: absolute;
    width: 120px;
    border: 2px solid #8d99ae;
}
.dropdown-content a {
    color: whitesmoke;
    transition: color 0.2s ease-in-out;
}
.dropdown-content a:hover {
    color: #000814;
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
}
/* Dropdown Bag */
.dropdown-content-bag {
    display: none;
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 50px;
    border-radius: 3px;
    position: absolute;
    width: 300px;
    border: 2px solid #8d99ae;
}
.show {
    display: block;
}
/****************** landing ***********************/
.text-center h2 {
    font-size:100%;
    font-size: 250%;
  font-weight: bold;
}
/* arrow */
.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}
.arrow {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 0;
}
#arrow1 {
    animation: fadeMove 1.5s infinite;
}
#arrow2 {
    animation: fadeMove 1.5s infinite 0.5s;
}
#arrow3 {
    animation: fadeMove 1.5s infinite 1s;
}
@keyframes fadeMove {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.hero-container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dbui0ebjv/image/upload/v1705697920/landing_test_1_wibtna.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
    margin-bottom: 100px;
    padding-top: 25vh;
}

/* Images */
@keyframes scaleImage {
    from {
        background-size: 100%;
    }

    to {
        background-size: 110%;
    }
}

.service-img {
    width: 100%;
    height: 700px;
    background-image: url('https://res.cloudinary.com/dbui0ebjv/image/upload/v1703700081/Unbenannt_16_ciqry8.png');
    background-size: cover;
    background-position: center center;
}



.service-text {
    padding-left: 6%;
}

.cred-div {
    text-align: center;

    margin-bottom: 50px;
}
/* Allauth */



/* FB Mailchimp Section */
.container-mailchimp{
    width:95vw;
    border-radius:20px;
}
.fb-mailchimp {
    padding: 40px 0 40px;
}
.fb-mailchimp i:hover{
    color:#00b4d8!important;
}

.white-line-small {
    height: 3px;
    background: white;
    width: 30px;
}

#mc_embed_signup {
    background-color: #030303;
    clear: left;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    margin: 0 !important;

}

#mc_embed_signup h2 {
    padding: 0;
    margin: -15px 0 !important;
    font-weight: bold;
    font-size: 2rem !important;
}

#mc_embed_signup input {}

.white-line {
    height: 2px;
    background-color: white;
    width: 100%;
    margin-top: 60px
}


/* Custom Container */
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 20px 150px
}

.top,
.middle,
.bottom {
    width: 100%;
    text-align: center;
}

.top {
    align-self: flex-start;
}

.middle {
    align-self: center;
}

.bottom {
    align-self: flex-end;
}

.container-2>* {
    margin: 10px 0;
}


/* Subscription Plans */
.subscription-plan-style {
    border: solid 3px #adb5bd;
    border-radius: 15px;
    background: #0d1b2a;
}
.special-offer {
    border: solid 3px #fca311;
}
.min-height-1050 {
    min-height: 1050px;
}
.deleteSubscriptionPlanBtn {
    margin-left: auto;
    margin-right: auto;
}


.square-image, .square-image-bag{
    width: 100%; 
    height: 150px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.square-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.square-image-bag img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    border-radius: 4px;
}


.sub-description {
    min-height: 50px;
  }

.sub-price {
    height: 70px;
}


/* Messages */



/* Admin Access */
.hr-admin-border {
    border-top: 5px solid whitesmoke;
    margin: 0;
    padding: 0;
}
h2.text-info {
    color: whitesmoke!important;
}
.col-10-x {
    width: 86%;
}


/* Pagination Control */
a.page-link {
    background-color: #343a40;
    color: white;
}
.page-link {
    border: none;
}
li.page-item.active .page-link {
    background: linear-gradient(to bottom right, #adb5bd, #00b4d8);
    color: #000814;

}
li.page-item .page-link:hover {
    background: linear-gradient(to bottom right, #adb5bd, #00b4d8);
    color: #000814;
}


/* Hamburger Menu */
.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
    width: 120%;
    position: relative;
    top: 1px;
}
.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
    width: 120%;
    position: relative;
    top: 1px;
}
.hamburger.is-active .bar {
    opacity: 0;
}
.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #1b263b;
    padding-top: 120px;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
.mobile-nav.is-active {
    left: 0;
}
.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px 16px;
    background-color: #1b4965;
    color: #fff;
    text-decoration: none;
    background-color: #000814;
    border-radius: 6px;
}
.mobile-nav a:hover {
    background-color: #000814;
}
@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .main-nav {
        display: none !important;
    }
    .logo {
        width: 250px;
    }
}


/* Profiles */
dl div.menu-element-third {
    
}
.container-profile-menu {
   
}
.text-ellipsis {
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Keep text in a single line */
    text-overflow: ellipsis; /* Add ellipsis to overflow text */
    max-width: 100%; /* Set a max-width to trigger overflow */
}
/* Expanded text */
/* Expanded text */
.expanded-text {
    white-space: normal; /* Allows text wrapping */
    overflow: visible;
    text-overflow: clip;
}

.menu-element {
    border-radius: 6px;
    padding: 30px;
    background: #0d1b2a;
}

.menu-element-secondary {
    border-radius: 6px;
    padding: 15px;
    background: #1b4965;
}

.menu-element-third {
    border-radius: 4px;
    padding: 0 8px 0 8px;
    background: #000814;
    padding: 4px 8px 4px 8px;
}
.menu-element-fourth {
    border-radius: 4px;
    padding: 0 8px 0 8px;
    background: #0d1b2a;
    padding: 4px 8px 4px 8px;
    height: auto;
}
.text-wrap {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}
.display-200 {
    font-size: 200%;
}
.icon-trigger, .icon-renew-trigger {
    background: none;
    color: whitesmoke;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon-trigger:focus, .icon-renew-trigger:focus {
    outline: none;
}


/* Custom Buttons */
.btn-mailchimp {
    min-width: 150px;
    height: 38px;
    border-radius: 19px!important;
    background: linear-gradient(to bottom right, #5de0e6, #004aad)!important;
}
.btn-mailchimp:hover {
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
    color: whitesmoke!important;
}

.button-62 {
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
    border: 0;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(230, 228, 226, 0.5), -.125rem -.125rem 1rem rgba(204, 203, 199, 0.5), .125rem .125rem 1rem rgba(190, 189, 186, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(202, 201, 198, 0.5), -.125rem -.125rem 1rem rgba(204, 203, 199, 0.5), .125rem .125rem 1rem rgba(204, 203, 199, 0.5);
    color: whitesmoke;
}
a.button-62 {
    color:#000814!important;
}
a.button-62:hover {
    color:whitesmoke!important;
}
.btn-start {
    padding: 0px 70px 0px 70px;
    color: #0d1b2a;
}

.btn-subscribe {
    height: 65px;
    width: 100%;
    border-radius: 13px;
    color: #001d3d;
}

.btn-edit {
    background: linear-gradient(to bottom right, whitesmoke, #303030);
    border-radius: 5px;
    font-size: 90%;
    color: #001d3d;
    width:160px;
}
.confirmRenewForm .btn-delete {
    background: linear-gradient(to bottom right, #adb5bd, cyan);
}
.btn-delete {
    background: linear-gradient(to bottom right, #adb5bd, #EE0000);
    border-radius: 5px;
    font-size: 90%;
    color: #001d3d;
    width:160px;
}

.btn-bag {
    border-radius: 5px;
    font-size: 15px;
    width: 90%;
    color: #001d3d;
}

#confirmCancelBtn {
    background: linear-gradient(to bottom right, #adb5bd, green);
    width: 30%;
    min-width: 100px;
}

#closeCancelBtn {
    background: linear-gradient(to bottom right, #adb5bd, #EE0000);
    width: 30%;
    min-width: 100px;
}

.cancelSubscriptionBtn {
    background: linear-gradient(to bottom right, #adb5bd, #EE0000);
    border-radius: 5px;
    font-size: 90%;
    width:120px;
}

.btn.custom-padding {
    padding: 0;
}


/* Stripe Styles */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.a-inherit,
.a-inherit:hover {
    color: inherit;
    text-decoration: none;
}



/* Modal Cancel Subscription */
.modal-footer button {
    width: 100%;
}

.modal-content {
    background-color: #000814;
    border: 1px solid aliceblue;
}

.modal-header {
    background-color: #17a2b8;
    color: #000814;
}

.modal-footer,
.modal-body {
    background: #000814;
}
.renewSubscriptionModal button {
    margin-bottom: 5px;
}


/* Toast */
.toast {
    width: 280px;
    transition: transform 0.6s ease-in-out, opacity 0.6s;
    opacity: 0; 
    transform: translateX(110%);
    margin-top: 10px; 
}
.toast-container:first-child {
    margin-top:70px;
}
.toast-in {
    opacity: 1; 
    transform: translateX(0%); 
}
.toast-out {
    transform: translateX(110%); 
}
.btn-toast {
    background: #fca311 !important;
    border-radius: 5px !important;
    font-size: 90%;
    width: 30%;
    font-size: 15px !important;
    line-height: 30px !important;
}
.toast-body {
    background: #0d1b2a;
    min-height: 60px;
}

/* Footer */
.footer-container {
    margin-top:5vh;
}
.text-highlight {
    color: #00b4d8;
}
.footer-hr {
    border-top: 1px solid #8d99ae;
    width: 20px;
    float: left;
    margin:none;
    }
.footer-element-container {
    min-height: 60vh;
    padding: 15px;
}
.footer-element-content {
    height:100%;
    position: relative;
    transition: background-color 0.3s; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Stellen Sie sicher, dass der Container die volle Höhe einnimmt */
    padding: 15px; /* Ihr vorhandenes Padding */
}
.footer-element-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #000814, #0d1b2a);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1; 
}
.footer-element-content:hover::before {
    opacity: 1;
}
.footer-logo {
    font-family: 'Rubik Mono One',sans-serif;
    letter-spacing: normal;
}
.footer-logo a {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.footer-logo a:hover {
    transform: translateX(10px);
}
.custom-divider {
    border: 0;
    height: 2px;
    background-color: #8d99ae;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 30px;
    float: left;
}
.custom-footer-line {
    border: 0;
    height: 2px;
    background-color: #8d99ae;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 250px;
    float: left;
}
.clear-both {
    clear: both; 
}
.footer-description {
    height:60px;
}
.developed-by-content {
    padding-left: 30px;
    font-size: 85%;
}


/*footer aligntment*/
.footer-absolute {
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer-static {
    position: static;
}




/************************ Trade Insights *************************/
/* Trade Insights General */
.responsive-space {
    margin-top:20vh;
    margin-bottom:15vh;
}
.responsive-space-15 {
    margin-top:15vh;
    margin-bottom:15vh;
}
.tradingview-widget-container {
    margin-top: 66px;
}

/* Trade Insights Main Stage */
.mainstage-insight {
    height:40vh;
    border-radius:3px;
    margin: 30px 0 30px;
}
.mainstage-row > div {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.mainstage-insight .background-image, .secondstage-insight .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
    z-index: -1; 
    border-radius: 4px;
}
.mainstage-insight .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    transition: background-color 0.8s ease; 
    z-index: 0; 
}
/*.mainstage-insight:hover .dark-overlay {
    background: rgba(0, 0, 0, 0.8); 
}*/
.mainstage-insight .mainstage-detail-container {
    position: relative;
    z-index: 2; 
}
.mainstage-release_date, .secondstage-release_date{
    font-size: 80%;
}
.mainstage-title, .secondstage-title{
    font-size: 120%;
    color: #00b4d8;
    font-weight: bold;
}
.mainstage-short_description, .secondstage-short_description{
    font-size:80%;
}
.hr {
    height:1px;
    background-color: white;
}
.hr-secondary {
    height: 1px;
    background-color: #8d99ae;
}
.category {
    height: 30px;
    min-width: 100px;
    border: 1px solid white;
    border-radius:15px;
    backdrop-filter: blur(10px);
    display:inline-block;
}
.category-small {
    font-size: 85%;
    height: 25px;
    min-width: 85px;
    border: 1px solid white;
    border-radius:12px;
    backdrop-filter: blur(10px);
    display:inline-block;
}

.category-ss {
    height: 30px;
    width: 100px;
    min-width: 100px;
    border: 1px solid white;
    border-radius:15px;
    backdrop-filter: blur(10px);
    display:inline-block;
    margin: 0 0 8px 8px;
}
.category-ss-small {
    height: 26px;
    width: 80%;
    min-width: 80%;
    border: 1px solid white;
    border-radius:13px;
    display:inline-block;
    margin: 0 0 8px 8px;
    font-size: 75%;
}

.read-more {
    font-size: 80%;
}
.mainstage-insight {
    position: relative;
    overflow: hidden; 
    box-shadow: 0 8px 6px -6px white;
}
.mainstage-detail-container {
    position: absolute;
    bottom: -23%; 
    left: 0;
    right: 0;
    transition: bottom 0.5s ease; 
}
.mainstage-insight:hover .mainstage-detail-container {
    bottom: 0; 
}
.ellipsis {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: 100%; 
    padding-right:2px;
}
/* Trade Insight Second Stage */
.ss-insight-img {
    height:30vh;
    border-radius:4px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    padding-left:0;
    margin: 15px 0 15px;
    box-shadow: 0 5px 7px -4px white;
}
.ss-insight-txt {
    height:20vh;
    border-radius:4px;
    background: linear-gradient(#90e0ef, rgba(0, 0, 0, 1.0));
    padding-left:0;
    margin: 15px 0 15px;
    box-shadow: 0 8px 6px -6px white; /* X, Y, Blur, Spread und Farbe */
    padding-right:0;
}
.ss-insight-txt-small {
    height:20vh;
    border-radius:4px;
    background: linear-gradient(#90e0ef, rgba(0, 0, 0, 1.0));
    padding-left:0;
    margin: 15px 0 15px;
    box-shadow: 0 8px 6px -6px white; /* X, Y, Blur, Spread und Farbe */
    padding-right:0;
}

.ss-insight-img:first-child, 
.ss-insight-txt:first-child {
    margin-top: 0;
}
/* Trade Insight Side Bar */
.cover-text {
   color: white;
   font-weight: bolder;
   margin-bottom:-64px;
}
.cover-text-small {
    color: white;
    font-weight: bolder;
 }
.pcover-text {
    color: white;
    font-weight: bolder;
}
.tv-widget-container {
    height:450px;
}
.tradingview-widget-container {
    margin-top: 66px;
}

/* Products */
.product-container {
    background-color:#0d1b2a;
    margin: 15px 0 15px 0;
    padding: 15px 0 15px;
    border-radius: 3px;
    border:solid 1px #495057;
}
.product-image {
    border-radius: 3px;
    height: 80px; 
    width: 100%; 
    object-fit: cover; 
}
.sidebar-border {
    border-left: 1px solid #8d99ae;
}
.product-container:first {
    margin-top: 0px;
}
.product-text {
    font-size: 130%;
    font-weight: bold;
    font-family: 'Rubik Mono One' , sans-serif;
}
.product-info {
    font-size: 80%;
}

/**************** Trade Insights Detail **************/
.insight-detail-image-container {
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}
.insight-detail-image-container .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1.0));
    transition: background-color 0.8s ease; 
    z-index: 0; 
    box-shadow: 0 8px 6px -6px white;

}
.insight-detail-image-container .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
    z-index: -1; 
    border-radius: 4px;
}
.image-detail-info {
    z-index:2;
}
.insight-detail-leftside {
    border-right: 1px solid #8d99ae;
}



/******************** Admin Access *******************/
.is-active-admin {
    color: #000814;
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
}
.header-space {
    margin-top: 13vh;
}
/* Admin Access Menu */
.admin-access-menu ul {
    list-style-type: none;
    padding: 0;
}
.admin-access-menu li {
    padding: 8px;
    margin: 5px;
    background-color: #0d1b2a;
    cursor: pointer;
    width: 100%;
}
li.menu-item {
    width:200px;
    text-align: center;
}
.admin-access-menu {
    color:whitesmoke;
    transition: color 0.2s ease-in-out;  
    width:80%;
}
#admin-menu {
    width: 80%;
    padding-left: 0; 
    list-style: none; 
    margin: 0;
}
@media (min-width: 992px) { 
    #admin-menu {
        display: flex; 
        justify-content: space-around;
    }
#admin-menu > a:first-child > li {
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
#admin-menu > a:last-child > li {
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}
}
#admin-menu a {
    padding:5px;
}
.admin-access-menu li:hover {
    transition: color 0.2s ease-in-out;
}
.admin-access-menu li:hover {
    color: #000814;
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
}
/* Admin Access Subscription */
.sub-details {
    overflow: hidden;
}
.sub-plan-admin {
    border: 1px solid #8d99ae;
    border-radius: 3px;
    margin:10px;
}
/* Admin Access banner */
.admin-banner {
    position: fixed; 
    top: 10%; 
    right: 0; 
    transform: translateY(-50%); 
    background-color: #06d6a0; 
    color: white; 
    padding: 10px; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    font-size: 1.1em; 
    z-index:3;
}
/* Admin Access Dropdown Menu */
.dropdown-menu {
    background-color:#000814;
}
.dropdown-item {
    color: whitesmoke;
}
.dropdown-item:hover {
    color: #000814;
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
}
.dropdown-menu a{
    transition: color 0.2s ease-in-out;
}
.dropdown-content a:hover {
    color: #000814!important;
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
}
/* Admin Access Insight */
.overlay-admin {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 1; 
}
.z-index-2 {
    position: relative;
    z-index: 2;
}
.insight-background-image { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-size: cover; 
    background-position: center; 
    z-index: 1;
}





.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
}

.loading-text {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}



/* Additional Media Queries */
@media screen and (max-width: 360px) {
    .logo {
        max-width: 180px;

    }
}
/* Bootstrap -sm */
@media screen and (max-width: 576px) {

}

/* Bootstrap -md */
@media screen and (max-width: 768px) {
    .insight-detail-container .row {
        display: flex;
        flex-direction: column-reverse;
    }
    h1 strong {
        font-size: 70%;
    }
    h2 {
        font-size: 150%;
    }

    .service-text {
        padding: 4% 8%;
    }

    .service-img {
        height: 550px;
    }

    .offset-768-1 {
        margin-left: 8.333333%;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0 50px 0;
    }

    .h2-exp {
        font-size: 300%;
    }

    .h3-exp {
        font-size: 170%;
    }

    h5 {
        font-size: 100%;
    }
}
/* Bootstrap sm */
@media screen and (max-width: 576px) {
    .container {
        width: auto;
        margin-left: 5vw!important;
        margin-right: 5vw!important;
    }
}
/* Bootstrap -lg */
@media screen and (max-width: 992px) {
    .mainstage-row > div {
        padding-left:2px;
        padding-right:2px;
    }
}

@media screen and (min-width: 768px) {
    .text-center-md {
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1056px) {
    .h2-exp {
        font-size: 200%;
    }

    .h3-exp {
        font-size: 140%;
    }
}

@media screen and (max-width: 992px) {


    #profile-cart {
        text-align: center;
    }

    .dropdown-content {
        position: absolute;
        right: 20%;
        width: 120px;
    }
}
@media screen and (max-width: 1200px) {
    .insight-detail-leftside {
        border-right: none;
    }
    .ss-insight-txt-small {
        height:20vh;
        border-radius:4px;
        background: linear-gradient(#90e0ef, rgba(0, 0, 0, 1.0));
        padding-left:0;
        margin: 15px 0 15px;
        box-shadow: 0 8px 6px -6px white; /* X, Y, Blur, Spread und Farbe */
        padding-right:0;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .footer-element-container {
        min-height: 40vh;
        padding: 15px;
    }
}
/* Bootstrap -xl */
@media (min-width: 1200px) {
    .container-big {
      max-width: 1500px!important;
    }
  }
#admin-menu {
    flex-direction: row; 
}
/* Media query for screens with a max width of 767px */
@media (max-width: 767px) {
    #admin-menu {
        flex-direction: column; 
    }
    #admin-menu a {
        display: flex; 
        justify-content: center;
        width: 100%; 
    }

    .menu-item {
        padding: 10px 0; 
        text-align: center; 
    }
    
}