@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-from-left {
    animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-from-right {
    animation: slideInFromRight 1s ease-out;
}

@keyframes bounceIn {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}

.bounce-in {
    animation: bounceIn 1s ease-out;
}


/* General */
body {
    background-color: #000814;
    color: white;
    font-family: 'Lato', sans-serif;
}
.logo-1 {
    font-family: rubik, sans-serif;
    font-weight: 600;
    font-size: 160%;
    position: absolute;
    top: 0px;
    color: #00b4d8;
}
.logo-2 {
    font-family: teko, sans-serif;
    font-weight: 300;
    font-size: 140%;
    position: absolute;
    top: 25px;
    left: 160px;
    color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.text-secondary-custom {
    color: #8d99ae;
}

.inherit-color {
    color: inherit !important;
}

.nav-element {
    font-size: 110%;
}

.nav-link {
    padding: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.badge {
    position: absolute;
    bottom: -3px;
    background-color: #ff4500;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px 5px;
    left: 15px;
    animation: pulse 1s infinite;
}


.nav-p {
    color: #fff;
    margin-bottom: -5px;
    transition: color 0.2s ease-in-out;
}

.nav-p:hover {
    color: #00b4d8;
}

.nav-fa {
    font-size: 160%
}

.theme-color {
    color: #00b4d8;
}

.bg-color-secondary {
    background-color: #0d1b2a;
}

.contrast-grey {
    color: #adb5bd;
}

.orange-line {
    background: #fca311;
    height: 2px;
    margin: 10px;
}

.container-bag-checkout {
    margin-top: 140px;
}

.bag-titles {
    font-family: Rubik Mono One;
    font-size: 130%;
}

/* Dropdown Profile */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    right: 120px;
    top: 50px;
    border-radius: 3px;
    position: absolute;
    width: 120px;
    border: 2px solid #8d99ae;
}
.dropdown-content a {
    color: whitesmoke;
    transition: color 0.2s ease-in-out;
}
.dropdown-content a:hover {
    color: #000814;
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
}
/* Dropdown Bag */
.dropdown-content-bag {
    display: none;
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 50px;
    border-radius: 3px;
    position: absolute;
    width: 300px;
    border: 2px solid #8d99ae;
}
.show {
    display: block;
}
/****************** landing ***********************/
.text-center h2 {
    font-size:100%;
    font-size: 250%;
  font-weight: bold;
}
/* arrow */
.arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}
.arrow {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 0;
}
#arrow1 {
    animation: fadeMove 1.5s infinite;
}
#arrow2 {
    animation: fadeMove 1.5s infinite 0.5s;
}
#arrow3 {
    animation: fadeMove 1.5s infinite 1s;
}
@keyframes fadeMove {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.hero-container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dbui0ebjv/image/upload/v1705697920/landing_test_1_wibtna.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
    margin-bottom: 100px;
    padding-top: 25vh;
}

/* Images */


@keyframes scaleImage {
    from {
        background-size: 100%;
    }

    to {
        background-size: 110%;
    }
}

.service-img {
    width: 100%;
    height: 700px;
    background-image: url('https://res.cloudinary.com/dbui0ebjv/image/upload/v1703700081/Unbenannt_16_ciqry8.png');
    background-size: cover;
    background-position: center center;
}



.service-text {
    padding-left: 6%;
}

.cred-div {
    text-align: center;

    margin-bottom: 50px;
}


/* FB Mailchimp Section */
.fb-mailchimp {
    padding: 40px 0 40px;
}

.white-line-small {
    height: 3px;
    background: white;
    width: 30px;
}

#mc_embed_signup {
    background-color: #030303;
    clear: left;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    margin: 0 !important;

}

#mc_embed_signup h2 {
    padding: 0;
    margin: -15px 0 !important;
    font-weight: bold;
    font-size: 2rem !important;
}

#mc_embed_signup input {}

.white-line {
    height: 2px;
    background-color: white;
    width: 100%;
    margin-top: 60px
}


/* Custom Container */
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 20px 150px
}

.top,
.middle,
.bottom {
    width: 100%;
    text-align: center;
}

.top {
    align-self: flex-start;
}

.middle {
    align-self: center;
}

.bottom {
    align-self: flex-end;
}

.container-2>* {
    margin: 10px 0;
}


/* Subscription Plans */
.subscription-plan-style {
    border: solid 3px #adb5bd;
    border-radius: 15px;
    background: #0d1b2a;
    transition: background 0.3s ease;
}

.subscription-plan-style:hover {
    background: #415a77;
}

.special-offer {
    border: solid 3px #fca311;
}

.square-image {
    width: 100%; 
    height: 100px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.square-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}
.sub-title {
    height: 70px;
}

.sub-description {
    min-height: 130px;
}

.sub-price {
    height: 70px;
}

.sub-details {}

/* Messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}


/* Admin Access */
.hr-admin-border {
    border-top: 5px solid #17a2b8;
    margin: 0;
    padding: 0;
}

.preview {
    transition: transform 0.4s ease-in-out;/
}

.preview:hover {
    transform: scale(1.04);
}

.col-10-x {
    width: 86%;
}


/* Pagination Control */
a.page-link {
    background-color: #343a40;
    color: white;

}

.page-link {
    border: none;
}

li.page-item.active .page-link {
    background: linear-gradient(to bottom right, #adb5bd, #db9e02);
    color: black;

}

li.page-item .page-link:hover {
    background: linear-gradient(to bottom right, #adb5bd, #db9e02);
    color: black;
}


/* Hamburger Menu */
.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
    width: 120%;
    position: relative;
    top: 1px;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
    width: 120%;
    position: relative;
    top: 1px;
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #1b263b;
    padding-top: 120px;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px 16px;
    background-color: #1b4965;
    color: #fff;
    text-decoration: none;
    background-color: #000814;
    border-radius: 6px;
}

.mobile-nav a:hover {
    background-color: #000814;
}

@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }

    .mobile-nav {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .main-nav {
        display: none !important;
    }

    .logo {
        width: 250px;
    }
}


/* Profiles */
.menu-element {
    border-radius: 6px;
    padding: 30px;
    background: #0d1b2a;
}

.menu-element-secondary {
    border-radius: 6px;
    padding: 15px;
    background: #1b4965;
}

dl dd {
    color: #caf0f8;
}


/* Custom Buttons */
.btn-mailchimp {
    min-width: 150px;
    height: 38px;
}

.button-62 {
    background: linear-gradient(to bottom right, #5de0e6, #004aad);
    border: 0;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(230, 228, 226, 0.5), -.125rem -.125rem 1rem rgba(204, 203, 199, 0.5), .125rem .125rem 1rem rgba(190, 189, 186, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(202, 201, 198, 0.5), -.125rem -.125rem 1rem rgba(204, 203, 199, 0.5), .125rem .125rem 1rem rgba(204, 203, 199, 0.5);
    color: whitesmoke;
}

.btn-start {
    padding: 0px 70px 0px 70px;
    color: #0d1b2a;
}

.btn-subscribe {
    height: 65px;
    width: 100%;
    border-radius: 13px;
    color: #001d3d;
}

.btn-edit {
    background: linear-gradient(to bottom right, whitesmoke, #303030);
    border-radius: 5px;
    font-size: 90%;
    color: #001d3d;
}

.btn-delete {
    background: linear-gradient(to bottom right, #adb5bd, #EE0000);
    border-radius: 5px;
    font-size: 90%;
    color: #001d3d;
}

.btn-bag {
    border-radius: 5px;
    font-size: 15px;
    width: 90%;
    color: #001d3d;
}

#confirmCancelBtn {
    background: linear-gradient(to bottom right, #adb5bd, green);
    width: 30%;
    min-width: 100px;
}

#closeCancelBtn {
    background: linear-gradient(to bottom right, #adb5bd, #EE0000);
    width: 30%;
    min-width: 100px;
}

.cancelSubscriptionBtn {
    background: linear-gradient(to bottom right, #adb5bd, #EE0000);
    border-radius: 5px;
    font-size: 90%;
}

.btn.custom-padding {
    padding: 0;
}


/* Stripe Styles */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.a-inherit,
.a-inherit:hover {
    color: inherit;
    text-decoration: none;
}



/* Modal Cancel Subscription */
.modal-footer button {
    width: 100%;
}

.modal-content {
    background-color: #1b263b;
    border: 1px solid aliceblue;
}

.modal-header {
    background-color: #17a2b8;
    color: #000814;
}

.modal-footer,
.modal-body {
    background: #001d3d;
}


/* Toast */
.toast {
    min-width: 250px;
    transition: transform 0.5s ease-in-out, opacity 0.5s;
    position: fixed; /* Positionierung relativ zum Viewport */
    right: 10px; /* Startposition am rechten Bildschirmrand */
}
.toast-in {
    opacity: 1; /* Voll sichtbar */
}
.toast-out {
    transform: translateX(110%); 
}

.btn-toast {
    background: #fca311 !important;
    border-radius: 5px !important;
    font-size: 90%;
    width: 30%;
    font-size: 15px !important;
    line-height: 30px !important;
}
.toast-body {
    background: #0d1b2a;
    min-height: 60px;
}

/* Footer */
.footer-absolute {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-static {
    position: static;
    /* Weitere notwendige Styles */
  }
  
/* Trade Insights */
.tradingview-widget-container {
    margin-top: 66px;
}
.preview-insight {
    height:40vh;
    border: 1px solid white;
    border-radius:5px;
    margin: 30px 0 30px;
}
.preview-row > div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}




/* Additional Media Queries */
@media screen and (max-width: 360px) {
    .logo {
        max-width: 180px;

    }
}
/* Bootstrap -sm */
@media screen and (max-width: 576px) {

}

/* Bootstrap -md */
@media screen and (max-width: 768px) {

    h1 strong {
        font-size: 70%;
    }
    h2 {
        font-size: 150%;
    }

    .service-text {
        padding: 4% 8%;
    }

    .service-img {
        height: 550px;
    }

    .offset-768-1 {
        margin-left: 8.333333%;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0 50px 0;
    }

    .h2-exp {
        font-size: 300%;
    }

    .h3-exp {
        font-size: 170%;
    }

    h5 {
        font-size: 100%;
    }
}
/* Bootstrap -lg */
@media screen and (max-width: 992px) {
    .preview-row > div {
        padding-left:2px;
        padding-right:2px;
    }
}

@media screen and (min-width: 768px) {
    .text-center-md {
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1056px) {
    .h2-exp {
        font-size: 200%;
    }

    .h3-exp {
        font-size: 140%;
    }
}

@media screen and (max-width: 992px) {
    #profile-cart {
        text-align: center;
    }

    .dropdown-content {
        position: absolute;
        right: 20%;
        width: 120px;
    }
}