{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Admin Access Banner -->
<div class="admin-banner">
    <i class="fa-solid fa-lock pr-2"></i>Admin Access
</div>
<div class="container mt-5 pt-5">
    <h1 class="text-center pb-5 mt-5">Edit Subscription Plan</h1>
    <div class="col-10 offset-1 col-lg-6 offset-lg-3 menu-element">
        {% load crispy_forms_tags %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="button-62 btn-edit" aria-label="Save">
                    <i class="fa-solid fa-plus pr-2"></i> Add
                </button>
            </div>
        </form>
        <a href="{% url 'AdminAccessSubscription' %}">
            <div class="d-flex justify-content-center mt-3">
                <a href="{% url 'AdminAccessSubscription' %}">
                    <button class="button-62 btn-edit" aria-label="Return">
                        <i class="fa-solid fa-arrow-left pr-2"></i>
                        Return
                    </button>
                </a>
            </div>
        </a>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
$(document).ready(function(){
    $('.test').on('click', function() {
        var actionAttr = $('form').attr('action'); // Annahme, es gibt nur ein Formular auf der Seite
        console.log('Button pressed');
        console.log('Form action attribute: ' + actionAttr);
    });
});


</script>
{% endblock %}