{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<!-- Subscription Plans Section -->
<div class="container text-center mt-5">        
    <div class="container">

        <hr class="text-info hr-admin-border">
        <h1 class="logo-font text-info"><strong>Admin Access</strong></h1>
        <hr class="text-info hr-admin-border mb-5">

            <a class="a-inherit" href="{% url 'admin_access_add' %}">
                <button type="submit" class="button-62 btn-edit col-4 mr-2" >Add Plan <i class="fa-solid fa-plus pl-2"></i></button>
            </a>

            <button type="submit" class="button-62 btn-edit col-4 mb-4"><i class="fa-solid fa-sort pr-2"></i> Sort Plan's</button>

        <div class="row">
            {% for s in subscription_plans %}              
                <div class="pt-1 pb-5 mb-5 mt-3 col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 ">
                    
                    <hr class="text-info hr-admin-border">
                    <div class="div">
                        <h2 class="text-info text-center">Preview - Plan ID: {{ s.id }}</h2>
                    </div>
                    <hr class="text-info hr-admin-border pb-3">

                    <div class="preview">
                        <div class="square-image">
                            <img src="{{ s.image.url }}" alt="{{ s.title }}"> 
                        </div>
                        <div class="p-1 text-left sub-title d-flex align-items-center">
                            <h2><strong>{{ s.title }}</strong></h2>
                        </div>
                        <div class="p-1 text-left text-secondary sub-description">
                            {{ s.description }}
                        </div>
                        <div class="p-1 text-left sub-price">
                            <h2><span><strong>$ {{ s.price }}</strong></span><span class="pl-1" style="font-size:60%">/month</span></h2>
                        </div>
                        <!-- Add Subscription Form -->
                        <form method="post" action="{% url 'add_to_bag' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subscription_plan_id" value="{{ s.id }}">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% if bag_items %}
                            {% for item in bag_items %}
                                <input type="hidden" name="bag_items" value="{{ item }}">
                            {% endfor %}
                            {% endif %}                        
                            <div class="d-flex text-align-center justify-content-center pb-3">
                                <button type="submit" class="button-62 btn-subscribe" disabled>Subscribe</button>
                            </div>
                        </form>

                        <div class="p-1 text-left sub-details">
                            <p>This includes:</p>
                            {% for detail in s.details|split_by_comma %}
                                <p><i class="fa-solid fa-trophy pr-3"></i>  {{ detail }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <hr class="text-info hr-admin-border">
                    <div class="div">
                        <h2 class="text-info text-center pt-2 pb-1 mb-0">End Preview - Plan ID: {{ s.id }}</h2>
                    </div>
                    <div>
                        <button class="button-62 btn-edit col-8">
                            <i class="fa-solid fa-pen-to-square p-2"></i>
                            Edit
                            <i class="fa-solid fa-pen-to-square p-2"></i>
                        </button>
                        <form method="post" action="{% url 'admin_access' %}">
                            {% csrf_token %}
                            <button class="button-62 btn-edit col-8 mt-2" name="action" value="delete_plan">
                                <i class="fa-solid fa-bolt pr-1"></i>
                                Feature
                                <i class="fa-solid fa-bolt pl-1"></i>                         
                            </button>
                        </form>
                        <button class="button-62 btn-delete col-8 mt-2">
                            <i class="fa-solid fa-trash p-2"></i>
                            Delete                            
                            <i class="fa-solid fa-trash p-2"></i>

                        </button>
                    </div>
                    <hr class="text-info hr-admin-border mt-3">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}