{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5 pt-2">
    <h1 class="text-center pb-5">Add a new Subscription Plan</h1>
    <div class="col-10 offset-1 col-lg-6 offset-lg-3">
        {% load crispy_forms_tags %}
        <form method="post" class="add-plan-form" action="{% url 'admin_access_add' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
        </form>
        <a href="{% url 'admin_access' %}">
            <button class="button-62 btn-edit col-8 offset-2"><i class="fa-solid fa-arrow-left pr-2"></i> Return</button>
        </a>
    </div>
</div>



{% endblock %}