{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<!-- Special Offer Section -->
<div class="container mt-5">
    <h1 class="pt-5 pb-5 d-block text-center"><strong>Our Plans</strong></h1>
    <div class="col-12 special-offer d-flex justify-content-center align-items-center">
        <h2 class="text-center text-secondary p-2">           
            📊🚀<strong class="text-white">Limited-Time Offer:</strong> Subscribe to 3, <strong class="text-white">Get 1 Free!</strong> Don't Miss Out on This Exclusive Opportunity to Elevate Your Market Game 💸💥<br>
            🌊💹Get Ready to Ride the <strong class="text-white">Crypto Bullmarket </strong> and Embark on a Journey through Promising <strong class="text-white">Indices</strong> and <strong class="text-white">Traditional Markets</strong> in 2024 💰✨  
        </h2>
    </div>
</div>

<!-- Subscription Plans Section -->
<div class="container text-center mt-5 mb-5">        
    <div class="container">
        <div class="row">
            {% for s in subscription_plans %}
                <div class="pt-4 col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-0 mx-auto">
                    <div class="subscription-plan-style p-2">
                        <div class="square-image">
                            <img src="{{ s.image.url }}" alt="{{ s.title }}">
                        </div>
                        <div class="p-1 text-left sub-title d-flex align-items-center">
                            <h2 style="font-family: Rubik Mono One; font-weight: 80% ">{{ s.title }}</h4>
                        </div>
                        <div class="containerx">
                            <div class="p-1 text-left text-secondary sub-description">
                                {{ s.description }}
                            </div>
                        </div>
                        <div class="p-1 text-left sub-price">
                            <h2><span><strong>$ {{ s.price }}</strong></span><span class="pl-1" style="font-size:60%">/month</span></h2>
                        </div>
                        <form method="post" action="{% url 'add_to_bag' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subscription_plan_id" value="{{ s.id }}">                      
                            {% if bag_items %}
                            {% for item in bag_items %}
                                <input type="hidden" name="bag_items" value="{{ item }}">
                            {% endfor %}
                            {% endif %}                        
                            <div class="d-flex text-align-center justify-content-center pb-3">
                                <button type="submit" class="button-62 btn-subscribe"><i class="fa-solid fa-plus"></i> Add Subscription</button>
                            </div>
                        </form>

                        <div class="p-1 text-left sub-details">
                            <p>This includes:</p>
                            {% for detail in s.details|split_by_comma %}
                                <p><i class="fa-solid fa-trophy pr-3"></i>  {{ detail }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Pagination controls -->
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <li class="page-item bg-dark">
                    <a class="page-link " href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>

{% endblock %}