{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<!-- Special Offer Section -->
<div class="container mt-5">
    <h1 class="pt-5 pb-5 d-block text-center"><strong>Our Plans</strong></h1>
    <div class="col-10 col-lg-12 special-offer mx-auto"><p class="text-center">Special Offer!</p></div>
</div>
{% if bag_items %}
    Bag Items:
    <ul>
        {% for item in bag_items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% else %}
    Bag Items not available
{% endif %}

<!-- Subscription Plans Section -->
<div class="container text-center mt-5">        
    <div class="container">
        <div class="row">
            {% for s in subscription_plans %}
                <div class="pt-5 col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
                    <div class="square-image">
                        <img src="{{ s.image.url }}" alt="{{ s.title }}">
                    </div>
                    <div class="p-1 text-left sub-title d-flex align-items-center">
                        <h2><strong>{{ s.title }}</strong></h4>
                    </div>
                    <div class="p-1 text-left text-secondary sub-description">
                        {{ s.description }}
                    </div>
                    <div class="p-1 text-left sub-price">
                        <h2><span><strong>$ {{ s.price }}</strong></span><span class="pl-1" style="font-size:60%">/month</span></h2>
                    </div>
                    <form method="post" action="{% url 'get_started' %}">
                        {% csrf_token %}
                        <input type="hidden" name="plan_id" value="{{ s.id }}">
                        {% if bag_items %}
                        {% for item in bag_items %}
                            <input type="hidden" name="bag_items" value="{{ item }}">
                        {% endfor %}
                        {% endif %}                        
                        <div class="d-flex text-align-center justify-content-center pb-3">
                            <button type="submit" class="button-62 btn-subscribe">Subscribe</button>
                        </div>
                    </form>
                    <div class="p-1 text-left sub-details">
                        <p>This includes:</p>
                        {% for detail in s.details|split_by_comma %}
                            <p><i class="fa-solid fa-trophy pr-3"></i>  {{ detail }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}