{% load static %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    {% block extra_css %}   
    {% endblock %}


    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}

    <title>MarketMinds Analytics {% block extra_title %}{% endblock %}</title>
    
  </head>
  <body>
    <header class="container-fluid py-4 px-5">
      <div class="row ">  
      
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <a href="">
            <img src='https://res.cloudinary.com/dbui0ebjv/image/upload/v1703712552/schwarz_Beige_Modern_Gesch%C3%A4ft_Logo_1_1_shh6az.png' alt="MarketMinds Analytics Logo" class="logo">
        </a>
        
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <a href="" class="p-2 inherit-color nav-element"><p class="nav-p">About Us</p></a>
          <a href="" class="p-2 inherit-color nav-element"><p class="nav-p">Trade Insight</p></a>
          <a href="" class="p-2 inherit-color nav-element"><p class="nav-p">Get Started</p></a>
        </div>

        <div class="col-md-3 text-right">
          <div><a href="" class="inherit-color nav-element"><p class="nav-p">My Account</p></a></div>
          <div><a href="" class="inherit-color nav-element"><p class="nav-p">Bag</p></a></div>
        </div>

      </div>  
    </header>
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% if messages %}
      <div class="message-container"></div>
    {% endif %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>
