{% load static %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    {% block extra_css %}   
    {% endblock %}


    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}

    <title>MarketMinds Analytics {% block extra_title %}{% endblock %}</title>
    
  </head>
  <body>
    <header class="container-fluid py-3 px-5">

      <div class="row ">  
      
        <div class="col-md-3 d-flex align-items-center justify-content-center">
          <a href="{% url 'home' %}">
            <img src='https://res.cloudinary.com/dbui0ebjv/image/upload/v1703712552/schwarz_Beige_Modern_Gesch%C3%A4ft_Logo_1_1_shh6az.png' alt="MarketMinds Analytics Logo" class="logo">
          </a>       
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <a href="" class="p-2 nav-element"><p class="nav-p">About Us</p></a>
          <a href="" class="p-2 nav-element"><p class="nav-p">Trade Insight</p></a>
          <a href="{% url 'get_started' %}" class="p-2 nav-element" ><p class="nav-p">Get Started</p></a>
        </div>

        <div class="col-md-3 d-flex align-items-center justify-content-end">
          <div class="row">

            <a href="#" class="inherit-color nav-element pr-5" id="dropdownMenu">
                <p class="nav-p nav-fa mb-0"><i class="far fa-user"></i></p>
                
            </a>
            <div class="dropdown-content bg-dark" id="myDropdown">
              {% if not user.is_authenticated %}
              <a class="d-block element p-1 m-1" href="{% url 'account_login' %}">Login</a>
              <a class="d-block element p-1 m-1" href="{% url 'account_signup' %}">Register</a> 
              {% elif user.is_authenticated %}
                <a class="d-block element p-1 m-1" href="{% url 'account_logout' %}">Logout</a>            
                <a class="d-block element p-1 m-1" href="#">Account Info</a>
                {% if user.is_superuser %}
                  <a class="d-block element p-1 m-1" href="#">Admin Access</a>
                {% endif %}            
              {% endif %}               
            </div>

    

            <a href="{% url 'bag' %}" class="inherit-color nav-element pr-5">
              <p class="nav-p nav-fa mb-0"><i class="fas fa-shopping-bag"></i></p>
            </a>

          </div>
      </div>
       
    </header>
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <footer>

      <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="white-line"></div>
            </div>
        </div>
      </div>

      <div class="row pt-5 pb-5">

        <div class="col-5 offset-1 d-flex">
          <p class="text-secondary">
            Copyright
          </p>
          <p class="pl-2">
            <strong>© 2023 ARP-25</strong>
          </p>
        </div>

        <div class="col-5 text-right">
          <i class="fa-brands fa-square-x-twitter pl-4"></i>
          <i class="fa-brands fa-square-facebook pl-4"></i>
          <i class="fa-brands fa-square-instagram pl-4"></i>
          <i class="fa-brands fa-square-youtube pl-4"></i>
        </div>

      </div>

    </footer>
    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
      $(document).ready(function(){
          $('.toast').toast({ 'delay': 0, 'autohide': false });
  
          // Show the toast message
          $('.toast').toast('show');
                  // Update the toast message content with the message from Django view

          // Close the toast when the close button is clicked
          $('.btn-close').click(function(){
              $('.toast').toast('hide');
          });
      });
    </script>
    {% endblock %}
    

  </body>
</html>
