{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Admin Access Banner -->
        <div class="admin-banner">
            <i class="fa-solid fa-lock pr-2"></i>Admin Access
        </div>
<div class="container mt-5 pt-5">
    <h1 class="text-center pb-5 mt-5">Edit Insight</h1>
    <div class="col-10 offset-1 col-lg-8 offset-lg-2 menu-element">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="button-62 btn-edit " aria-label="Save">
                    <i class="fa-solid fa-download pr-2"></i>
                    Save Changes
                </button>
            </div>
        </form>   
        <div class="d-flex justify-content-center mt-2">
            <a href="{% url 'AdminAccessInsight' %}">
                <button class="button-62 btn-edit " aria-label="Return">
                    <i class="fa-solid fa-arrow-left pr-2"></i>
                    Return
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}