{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container container-big header-space">
    <div class="row admin-access-row">
        <!-- Admin Access Banner -->
        <div class="admin-banner">
            <i class="fa-solid fa-lock pr-2"></i>Admin Access
        </div>
        <!-- Admin Access Menu -->
        <div class="col-12 admin-access-menu d-flex justify-content-center">
            <ul id="admin-menu" class="d-flex justify-content-center">
                <li class="menu-item">
                    <a href="{% url 'AdminAccessSubscription' %}" data-content="subscription-plans">Subscription Plans</a>
                </li>
                <li class="menu-item is-active-admin">
                    <a href="{% url 'AdminAccessInsight' %}" data-content="trade-insights">Trade Insights</a>
                </li>
                <li class="menu-item rounded-end">
                    <a href="{% url 'AdminAccessMetric' %}" data-content="metrics">Platform Metrics</a>
                </li>
            </ul>                  
        </div>
        <!-- Admin Access Content-->
        <!-- Admin Access Control Insight Board -->
        <div class="col-12 admin-access-content" id="content-area">             
            <div class="">
                <div class="text-center">
                <h2 class="content-title pb-2">Trade Insights</h2>
                <div class="mb-3">
                    <!-- Add Insight -->
                    <a class="a-inherit button-62 btn-edit mr-sm-2 mb-1 ms-sm-0" href="{% url 'admin_access_insight_add' %}">
                        Add Insight 
                        <i class="fa-solid fa-plus pl-2"></i>
                    </a>
                    <!-- Dropdown for Sorting -->
                    <div class="dropdown d-inline-block ">
                        <button class="button-62 btn-edit dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort Insights
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="?sort=crypto">Crypto</a>
                            <a class="dropdown-item" href="?sort=forex">Forex</a>
                            <a class="dropdown-item" href="?sort=stocks">Stocks</a>
                            <a class="dropdown-item" href="?sort=most_recent">Most Recent</a>
                            <a class="dropdown-item" href="?sort=oldest">Oldest</a>
                            <a class="dropdown-item" href="?sort=a_z">A-Z</a>
                            <a class="dropdown-item" href="?sort=z_a">Z-A</a>
                            <a class="dropdown-item" href="?sort=mainstage">Mainstage</a>
                            <a class="dropdown-item" href="?sort=secondstage">Secondstage</a>
                            <a class="dropdown-item" href="?sort=backsttage">Backstage</a>
                            <a class="dropdown-item" href="?sort=all">All</a>
                        </div>
                    </div>   
                </div>
                </div>

                <!-- Admin Access Insight -->
                <div class="row">
                    {% for insight in trade_insights %}
                    <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0">
                        <div class="menu-element mb-5">
                        <!-- Insight Infos -->
                        <div class="col-12 d-flex flex-column justify-content-space-between mb-2">                              
                            <div class="menu-element-third text-left  mb-2">
                                <span class="d-block">Insight Title:</span>
                                <span class="text-secondary-custom d-block">{{ insight.title }}</span>
                            </div>
                            <div class="menu-element-third text-left  mb-2">
                                <span class="d-block">Inside ID:</span>
                                <span class="text-secondary-custom d-block">{{ insight.id }}</span>
                            </div>  
                            <div class="menu-element-third text-left  mt-auto">
                                <span class="d-block">Release Date:</span>
                                <span class="text-secondary-custom d-block">{{ insight.release_date }}</span>
                            </div>                            
                        </div>
                        <!-- Insight Preview Display -->
                        <div class="col-12">
                            <a href="{% url 'admin_access_insight_edit' insight_id=insight.id %}" >
                                <div class="d-flex justify-content-end flex-column image-overlay-container pl-2 pr-2" style="height: 30vh; position: relative;">
                                    <div class="insight-background-image rounded" style="background-image: url('{{ insight.cover_image.url }}');"></div>
                                    <div class="overlay-admin rounded"></div>
                                    <span class="secondstage-release_date d-block z-index-2">{{ insight.release_date }}</span>
                                    <span class="secondstage-title d-block bold-text z-index-2">{{ insight.title }}</span>
                                    <span class="secondstage-short_description pb-2 pt-1  z-index-2">{{ insight.short_description }}</span>
                                    <div class="d-flex justify-content-between align-items-center pb-2  z-index-2">
                                        <div class="category text-center">
                                            <i class="fa-solid fa-square-poll-vertical pr-2"></i>{{ insight.category }}
                                        </div>
                                        <div>
                                            Stage: {{ insight.stage }}
                                        </div>
                                    </div>                       
                                </div>
                            </a>
                        </div>
                        <!-- Edit and Delete Btn -->
                        <div class="col-12 d-flex justify-content-center">
                            <div class="col-12 menu-element-third mt-2">
                                <div class="d-flex justify-content-between">
                                    <form method="GET" action="{% url 'admin_access_insight_edit' insight_id=insight.id %}" class="mb-1 mt-1">
                                        {% csrf_token %}
                                        <button class="button-62 btn-edit" type="submit" aria-label="Edit">
                                            <i class="fa-solid fa-pen-to-square p-2"></i>
                                            Edit
                                        </button>
                                    </form>
                                    <div class="mb-1 mt-1">                      
                                        <button class="button-62 btn-delete deleteInsightBtn" data-toggle="modal"
                                                data-target=".deleteInsightModal" data-insight-id="{{ insight.id }}"
                                                aria-label="Delete">
                                            <i class="fa-solid fa-trash p-2"></i>
                                            Delete                             
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Unsubscribe Confirmation Modal -->
<div class="modal fade deleteInsightModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteInsightModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-white bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteInsightModalLabel">Delete Insight <strong></strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to delete this Insight?</p>
            </div>
            <div class="modal-footer">
                <form class="confirmDeleteForm" action="" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <button type="button" class="button-62 btn-edit" id="closeDeleteBtn" data-dismiss="modal"
                            aria-label="Close">Close</button>
                        <button type="submit" class="button-62 btn-delete mt-2" id="confirmDeleteBtn"
                            aria-label="Delete">Yes,
                            delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}

{{ block.super }}
<script>
    //Dynamically changes the Action Attribute of Form in Confirm Modal
    $('.deleteInsightBtn').on('click', function () {
        var insightId = $(this).data('insight-id');
        var dynamicUrl = "delete/" + insightId + "/";
        $('.confirmDeleteForm').attr('action', dynamicUrl);
    });
</script>
{% endblock %}